@font-face {
    font-family: 'Chakra';
    src: url('ChakraPetch-Italic.eot');
    src: local('Chakra Petch Italic'), local('ChakraPetch-Italic'),
        url('ChakraPetch-Italic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('ChakraPetch-Italic.woff2') format('woff2'),
        url('ChakraPetch-Italic.woff') format('woff'),
        url('ChakraPetch-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra';
    src: url('ChakraPetch-Medium.eot');
    src: local('Chakra Petch Medium'), local('ChakraPetch-Medium'),
        url('ChakraPetch-Medium%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('ChakraPetch-Medium.woff2') format('woff2'),
        url('ChakraPetch-Medium.woff') format('woff'),
        url('ChakraPetch-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra';
    src: url('ChakraPetch-Regular.eot');
    src: local('Chakra Petch Regular'), local('ChakraPetch-Regular'),
        url('ChakraPetch-Regular%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('ChakraPetch-Regular.woff2') format('woff2'),
        url('ChakraPetch-Regular.woff') format('woff'),
        url('ChakraPetch-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra';
    src: url('ChakraPetch-SemiBoldItalic.eot');
    src: local('Chakra Petch SemiBold Italic'), local('ChakraPetch-SemiBoldItalic'),
        url('ChakraPetch-SemiBoldItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('ChakraPetch-SemiBoldItalic.woff2') format('woff2'),
        url('ChakraPetch-SemiBoldItalic.woff') format('woff'),
        url('ChakraPetch-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra';
    src: url('ChakraPetch-Light.eot');
    src: local('Chakra Petch Light'), local('ChakraPetch-Light'),
        url('ChakraPetch-Light%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('ChakraPetch-Light.woff2') format('woff2'),
        url('ChakraPetch-Light.woff') format('woff'),
        url('ChakraPetch-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra';
    src: url('ChakraPetch-BoldItalic.eot');
    src: local('Chakra Petch Bold Italic'), local('ChakraPetch-BoldItalic'),
        url('ChakraPetch-BoldItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('ChakraPetch-BoldItalic.woff2') format('woff2'),
        url('ChakraPetch-BoldItalic.woff') format('woff'),
        url('ChakraPetch-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra';
    src: url('ChakraPetch-MediumItalic.eot');
    src: local('Chakra Petch Medium Italic'), local('ChakraPetch-MediumItalic'),
        url('ChakraPetch-MediumItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('ChakraPetch-MediumItalic.woff2') format('woff2'),
        url('ChakraPetch-MediumItalic.woff') format('woff'),
        url('ChakraPetch-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra';
    src: url('ChakraPetch-Bold.eot');
    src: local('Chakra Petch Bold'), local('ChakraPetch-Bold'),
        url('ChakraPetch-Bold%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('ChakraPetch-Bold.woff2') format('woff2'),
        url('ChakraPetch-Bold.woff') format('woff'),
        url('ChakraPetch-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra';
    src: url('ChakraPetch-LightItalic.eot');
    src: local('Chakra Petch Light Italic'), local('ChakraPetch-LightItalic'),
        url('ChakraPetch-LightItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('ChakraPetch-LightItalic.woff2') format('woff2'),
        url('ChakraPetch-LightItalic.woff') format('woff'),
        url('ChakraPetch-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra';
    src: url('ChakraPetch-SemiBold.eot');
    src: local('Chakra Petch SemiBold'), local('ChakraPetch-SemiBold'),
        url('ChakraPetch-SemiBold%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('ChakraPetch-SemiBold.woff2') format('woff2'),
        url('ChakraPetch-SemiBold.woff') format('woff'),
        url('ChakraPetch-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

