@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-SemiBoldItalic.eot');
    src: local('Tomorrow SemiBold Italic'), local('Tomorrow-SemiBoldItalic'),
        url('Tomorrow-SemiBoldItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-SemiBoldItalic.woff2') format('woff2'),
        url('Tomorrow-SemiBoldItalic.woff') format('woff'),
        url('Tomorrow-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-ExtraBold.eot');
    src: local('Tomorrow ExtraBold'), local('Tomorrow-ExtraBold'),
        url('Tomorrow-ExtraBold%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-ExtraBold.woff2') format('woff2'),
        url('Tomorrow-ExtraBold.woff') format('woff'),
        url('Tomorrow-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-Regular.eot');
    src: local('Tomorrow Regular'), local('Tomorrow-Regular'),
        url('Tomorrow-Regular%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-Regular.woff2') format('woff2'),
        url('Tomorrow-Regular.woff') format('woff'),
        url('Tomorrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-ExtraLight.eot');
    src: local('Tomorrow ExtraLight'), local('Tomorrow-ExtraLight'),
        url('Tomorrow-ExtraLight%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-ExtraLight.woff2') format('woff2'),
        url('Tomorrow-ExtraLight.woff') format('woff'),
        url('Tomorrow-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-Thin.eot');
    src: local('Tomorrow Thin'), local('Tomorrow-Thin'),
        url('Tomorrow-Thin%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-Thin.woff2') format('woff2'),
        url('Tomorrow-Thin.woff') format('woff'),
        url('Tomorrow-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-BoldItalic.eot');
    src: local('Tomorrow Bold Italic'), local('Tomorrow-BoldItalic'),
        url('Tomorrow-BoldItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-BoldItalic.woff2') format('woff2'),
        url('Tomorrow-BoldItalic.woff') format('woff'),
        url('Tomorrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-MediumItalic.eot');
    src: local('Tomorrow Medium Italic'), local('Tomorrow-MediumItalic'),
        url('Tomorrow-MediumItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-MediumItalic.woff2') format('woff2'),
        url('Tomorrow-MediumItalic.woff') format('woff'),
        url('Tomorrow-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-Bold.eot');
    src: local('Tomorrow Bold'), local('Tomorrow-Bold'),
        url('Tomorrow-Bold%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-Bold.woff2') format('woff2'),
        url('Tomorrow-Bold.woff') format('woff'),
        url('Tomorrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-Light.eot');
    src: local('Tomorrow Light'), local('Tomorrow-Light'),
        url('Tomorrow-Light%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-Light.woff2') format('woff2'),
        url('Tomorrow-Light.woff') format('woff'),
        url('Tomorrow-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-Black.eot');
    src: local('Tomorrow Black'), local('Tomorrow-Black'),
        url('Tomorrow-Black%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-Black.woff2') format('woff2'),
        url('Tomorrow-Black.woff') format('woff'),
        url('Tomorrow-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-SemiBold.eot');
    src: local('Tomorrow SemiBold'), local('Tomorrow-SemiBold'),
        url('Tomorrow-SemiBold%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-SemiBold.woff2') format('woff2'),
        url('Tomorrow-SemiBold.woff') format('woff'),
        url('Tomorrow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-ThinItalic.eot');
    src: local('Tomorrow Thin Italic'), local('Tomorrow-ThinItalic'),
        url('Tomorrow-ThinItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-ThinItalic.woff2') format('woff2'),
        url('Tomorrow-ThinItalic.woff') format('woff'),
        url('Tomorrow-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-Medium.eot');
    src: local('Tomorrow Medium'), local('Tomorrow-Medium'),
        url('Tomorrow-Medium%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-Medium.woff2') format('woff2'),
        url('Tomorrow-Medium.woff') format('woff'),
        url('Tomorrow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-ExtraLightItalic.eot');
    src: local('Tomorrow ExtraLight Italic'), local('Tomorrow-ExtraLightItalic'),
        url('Tomorrow-ExtraLightItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-ExtraLightItalic.woff2') format('woff2'),
        url('Tomorrow-ExtraLightItalic.woff') format('woff'),
        url('Tomorrow-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-LightItalic.eot');
    src: local('Tomorrow Light Italic'), local('Tomorrow-LightItalic'),
        url('Tomorrow-LightItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-LightItalic.woff2') format('woff2'),
        url('Tomorrow-LightItalic.woff') format('woff'),
        url('Tomorrow-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-ExtraBoldItalic.eot');
    src: local('Tomorrow ExtraBold Italic'), local('Tomorrow-ExtraBoldItalic'),
        url('Tomorrow-ExtraBoldItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-ExtraBoldItalic.woff2') format('woff2'),
        url('Tomorrow-ExtraBoldItalic.woff') format('woff'),
        url('Tomorrow-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-BlackItalic.eot');
    src: local('Tomorrow Black Italic'), local('Tomorrow-BlackItalic'),
        url('Tomorrow-BlackItalic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-BlackItalic.woff2') format('woff2'),
        url('Tomorrow-BlackItalic.woff') format('woff'),
        url('Tomorrow-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('Tomorrow-Italic.eot');
    src: local('Tomorrow Italic'), local('Tomorrow-Italic'),
        url('Tomorrow-Italic%EF%B9%96.eot#iefix') format('embedded-opentype'),
        url('Tomorrow-Italic.woff2') format('woff2'),
        url('Tomorrow-Italic.woff') format('woff'),
        url('Tomorrow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

